* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333333;
  font-size: 62.5%;
  color: #eeeeee;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-register {
  display: flex;
  justify-content: center;
}

/* Login Page styling */
.login-logo {
  padding: 1.5rem;
  background: #111111;
  border-left: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.login-form {
  background: #111111;
  color: #eeeeee;
  padding: 3rem 3rem;
  border: 1px solid #eeeeee;
}

.login-form h1 {
  margin: 0;
  padding: 0 0 2rem;
  text-align: center;
  font-size: 2.4rem;
}

.login-form p {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}

.login-form input {
  margin-bottom: 2rem;
}

.login-form input[type="text"],
input[type="password"],
input[type="email"] {
  border: none;
  border-bottom: 1px solid #eeeeee;
  background: transparent;
  outline: none;
  height: 2.5rem;
  color: #eeeeee;
  font-size: 1.4rem;
}

.login-form label {
  display: inline-flex;
  margin-top: 0.7rem;
  margin-right: 2rem;
  font-size: 1rem;
}

.login-form input[type="radio"] {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}

.custom-select {
  position: relative;
  margin-bottom: 2rem;
}

.custom-select select {
  border: none;
  border-bottom: 1px solid #eeeeee;
  background: transparent;
  outline: none;
  height: 2.5rem;
  color: #eeeeee;
  font-size: 1rem;
}

.custom-select select option {
  background-color: #111111;
  color: #eeeeee;
}

#card-details {
  display: none;
}

.login-form input[type="submit"] {
  border: none;
  outline: none;
  height: 3rem;
  background: #fb2525;
  color: #eeeeee;
  font-size: 1.8rem;
  border-radius: 1.25rem;
}

.login-form input[type="submit"]:hover {
  cursor: pointer;
}

.login-form a {
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #777777;
}

.login-form .sign-up-link {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

.login-content-container {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./img/login-content-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-content {
  color: #eeeeee;
  text-align: center;
}

.logo-lg {
  max-width: 100%;
  max-height: auto;
  padding: 1rem;
}

.login-content h1 {
  font-size: 3.6rem;
}

.login-content p {
  font-size: 1.4rem;
}

/* Change colour of google chrome autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #111111 inset !important;
  box-shadow: 0 0 0 30px #111111 inset;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #eeeeee !important;
}

.login-content-container {
  visibility: hidden;
  width: 0;
  height: 0;
}

.navbar {
  font-size: 1.2rem;
}

.nav-logo {
  width: 100%;
  height: auto;
}

.nav-logo-link-sm {
  width: calc(100% / 4);
}

.dark-bg {
  background-color: #111111;
}

#hc-movie {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./img/movies.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hc-tv {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./img/tv-shows.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-content {
  height: 50vh;
  margin: 1rem 0;
}

.home-content h1 {
  font-weight: normal;
}

.cont a {
  list-style: none;
  color: #eeeeee;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.card {
  background-color: #333333;
  height: auto;
  width: 100%;
  margin: 1rem;
}

.card:hover {
  padding: 0.5rem;
}

.card a {
  display: flex;
  flex-direction: column;
}

.content-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.single-content-card {
  padding: 1rem;
  background: #111111;
}

.single-content-card iframe {
  width: 100%;
  height: 25vh;
}

.single-content-card h1 {
  padding: 1rem 0 0.5rem 0;
  font-size: 2.2rem;
  border-bottom: 1px solid #eeeeee;
}

.single-content-card p {
  padding-top: 0.5rem;
  font-size: 1.2rem;
  text-align: justify;
}

#flex-container-centre {
  min-height: 90vh;
}

.user-info {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.user-info-card {
  background: #111111;
  margin: 1rem;
  padding: 1.5rem;
  width: 100%;
}

.user-info-card h1 {
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 0.5rem;
  font-size: 2.4rem;
}

.user-info-card h2 {
  font-size: 1.6rem;
  padding-top: 0.5rem;
}

.user-info-card h2 span {
  font-weight: normal;
  color: #777777;
}

.user-info-card .user-info-card-footer {
  margin-top: 2rem;
}

.user-info-card .user-info-card-footer p {
  font-size: 1.2rem;
  font-weight: bold;
}

.user-info-card .user-info-card-footer p span {
  font-weight: normal;
  color: #777777;
}

#genre {
  margin: 1rem;
  margin-top: 2rem;
  padding: 0.5rem;
  font-size: 1.4rem;
  color: #eeeeee;
  background-color: #111111;
  border: none;
  border-bottom: 1px solid #eeeeee;
  outline: none;
}

/* Mobile layout */
[class*="col-"] {
  width: 100%;
  float: left;
}

/* Tablet layout */
@media only screen and (min-width: 600px) {
  .col-md-1 {
    width: calc(100% / 12);
  }

  .col-md-2 {
    width: calc(100% / 12 * 2);
  }

  .col-md-3 {
    width: calc(100% / 12 * 3);
  }

  .col-md-4 {
    width: calc(100% / 12 * 4);
  }

  .col-md-5 {
    width: calc(100% / 12 * 5);
  }

  .col-md-6 {
    width: calc(100% / 12 * 6);
  }

  .col-md-7 {
    width: calc(100% / 12 * 7);
  }

  .col-md-8 {
    width: calc(100% / 12 * 8);
  }

  .col-md-9 {
    width: calc(100% / 12 * 9);
  }

  .col-md-10 {
    width: calc(100% / 12 * 10);
  }

  .col-md-11 {
    width: calc(100% / 12 * 11);
  }

  .col-md-12 {
    width: 100%;
  }

  .login-container {
    width: 100vw;
    height: 100vh;
  }

  .login-content-container {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .nav-logo-link-md {
    width: calc(100% / 6);
  }

  .card {
    width: calc(100% / 3);
  }
}

/* Desktop layout */
@media only screen and (min-width: 1100px) {
  .col-lg-1 {
    width: calc(100% / 12);
  }

  .col-lg-2 {
    width: calc(100% / 12 * 2);
  }

  .col-lg-3 {
    width: calc(100% / 12 * 3);
  }

  .col-lg-4 {
    width: calc(100% / 12 * 4);
  }

  .col-lg-5 {
    width: calc(100% / 12 * 5);
  }

  .col-lg-6 {
    width: calc(100% / 12 * 6);
  }

  .col-lg-7 {
    width: calc(100% / 12 * 7);
  }

  .col-lg-8 {
    width: calc(100% / 12 * 8);
  }

  .col-lg-9 {
    width: calc(100% / 12 * 9);
  }

  .col-lg-10 {
    width: calc(100% / 12 * 10);
  }

  .col-lg-11 {
    width: calc(100% / 12 * 11);
  }

  .col-lg-12 {
    width: 100%;
  }

  .login-container {
    height: 100vh;
    float: right;
  }

  .login-content-container {
    visibility: visible;
    height: 100vh;
    position: fixed;
  }

  .login-logo {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .nav-logo-link-lg {
    width: calc(100% / 11);
  }

  .cont {
    margin-top: 12%;
  }

  .card {
    width: calc(100% / 4);
  }
}
